.circular-text-container {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.circular-text-revolve {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

.circular-text-letter {
  position: absolute;
  height: 125px; /* radius */
  width: 20px;
  left: calc(50% - 10px);
  top: 0;
  transform-origin: bottom center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #111827; /* noe-dark */
}

.circular-text-center {
  position: absolute;
}
